<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">     <title>Presentacion</title>
</head>
<body class="" data-bs-spy="scroll" data-bs-target="#nav-top" data-bs-offset="0" tabindex="0">
    
    <nav id="nav-top" class="navbar navbar-dark navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand">Jose Enrique Guardado</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a href="#introduccion" class="nav-link" aria-current="location">Home</a>
            </li>
            <li class="nav-item">
              <a href="#experiencia" class="nav-link" aria-current="location">Mis habilidades</a>
            </li>
            <li class="nav-item">
              <a href="#resume" class="nav-link" aria-current="location">Resume</a>
            </li>
            <li class="nav-item">
              <a href="#hobbies" class="nav-link" aria-current="location">Hobbies</a>
            </li>
            <li class="nav-item">
              <a href="#contacto" class="nav-link" aria-current="location">Contacto</a>
            </li>
            <li>
              <button type="button" class="btn btn-outline-light">Descarga CV</button>
            </li>
          </ul>
        </div>
      </div>
      
    </nav>
    
    <div class="wrapper row" id="main" >
      
      <div class="bg-back col-lg-5">
        <div class="bg-filter">
          <div class="bg-img"></div>
        </div>
      </div>
      <div class="contenido col-lg-7">
        <div class="model informacion" id="introduccion">
          <div id="logo">
              <h1><span>Enrique <br> Guardado </span></h1>
          </div>
          <h1 class="title">Introduccion</h1>
          <span class="type"></span>
          <p class="model">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa blanditiis eaque minima, ipsa praesentium, distinctio ea adipisci saepe quam vero consequatur ex enim eligendi facere nihil voluptates quia expedita amet!
          </p>
          <a class="btn btn-outline-info" href="#contacto">
            Contactame
          </a>
        </div>
        <div class="informacion" id="experiencia">
            <div class="titulos">
              <h1 class="">Mis habilidades</h1>
            </div>
            
            <hr>
            <div class="textos">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <p class="">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex soluta tempore deserunt provident blanditiis? Id distinctio, accusamus nesciunt quaerat nulla eos tempore placeat aspernatur ipsam. Distinctio hic a quis doloremque.
                      Ipsa ad aut quidem expedita. Quae illo ipsa eveniet temporibus repellat aut debitis ex iste sint, harum, ea error pariatur, minus sequi officiis hic velit sunt nulla maiores reiciendis fugiat?
                      Nisi, quia quasi eligendi labore explicabo natus numquam molestiae illum doloremque perspiciatis eius fugiat incidunt deserunt aperiam. Molestias, in ducimus vitae velit ex voluptas unde totam vero sapiente sed dolorem.
                      Veritatis asperiores atque inventore dolor laudantium quibusdam unde alias totam, expedita voluptate eius esse rem porro eaque numquam. Quidem officia eaque ea dicta! Maxime dolorum animi, consectetur neque quo ad!
                      Inventore odio, laboriosam placeat hic et repellendus! Omnis saepe, repellat perspiciatis optio suscipit voluptates reiciendis minus amet adipisci commodi rem nesciunt fuga sint incidunt pariatur maiores corporis unde temporibus molestias.
                  </p>
                  </div>
                  <div class="carousel-item">
                    <p class="">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex soluta tempore deserunt provident blanditiis? Id distinctio, accusamus nesciunt quaerat nulla eos tempore placeat aspernatur ipsam. Distinctio hic a quis doloremque.
                      Ipsa ad aut quidem expedita. Quae illo ipsa eveniet temporibus repellat aut debitis ex iste sint, harum, ea error pariatur, minus sequi officiis hic velit sunt nulla maiores reiciendis fugiat?
                      Nisi, quia quasi eligendi labore explicabo natus numquam molestiae illum doloremque perspiciatis eius fugiat incidunt deserunt aperiam. Molestias, in ducimus vitae velit ex voluptas unde totam vero sapiente sed dolorem.
                      Veritatis asperiores atque inventore dolor laudantium quibusdam unde alias totam, expedita voluptate eius esse rem porro eaque numquam. Quidem officia eaque ea dicta! Maxime dolorum animi, consectetur neque quo ad!
                      Inventore odio, laboriosam placeat hic et repellendus! Omnis saepe, repellat perspiciatis optio suscipit voluptates reiciendis minus amet adipisci commodi rem nesciunt fuga sint incidunt pariatur maiores corporis unde temporibus molestias.
                  </p>
                  </div>
                  <div class="carousel-item">
                    <p class="">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex soluta tempore deserunt provident blanditiis? Id distinctio, accusamus nesciunt quaerat nulla eos tempore placeat aspernatur ipsam. Distinctio hic a quis doloremque.
                      Ipsa ad aut quidem expedita. Quae illo ipsa eveniet temporibus repellat aut debitis ex iste sint, harum, ea error pariatur, minus sequi officiis hic velit sunt nulla maiores reiciendis fugiat?
                      Nisi, quia quasi eligendi labore explicabo natus numquam molestiae illum doloremque perspiciatis eius fugiat incidunt deserunt aperiam. Molestias, in ducimus vitae velit ex voluptas unde totam vero sapiente sed dolorem.
                      Veritatis asperiores atque inventore dolor laudantium quibusdam unde alias totam, expedita voluptate eius esse rem porro eaque numquam. Quidem officia eaque ea dicta! Maxime dolorum animi, consectetur neque quo ad!
                      Inventore odio, laboriosam placeat hic et repellendus! Omnis saepe, repellat perspiciatis optio suscipit voluptates reiciendis minus amet adipisci commodi rem nesciunt fuga sint incidunt pariatur maiores corporis unde temporibus molestias.
                  </p>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
           
        </div>
        <div class="informacion" id="resume">
            <h1 class="c">Resume</h1>
            <hr>
            <div class="textos">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <p class="">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex soluta tempore deserunt provident blanditiis? Id distinctio, accusamus nesciunt quaerat nulla eos tempore placeat aspernatur ipsam. Distinctio hic a quis doloremque.
                      Ipsa ad aut quidem expedita. Quae illo ipsa eveniet temporibus repellat aut debitis ex iste sint, harum, ea error pariatur, minus sequi officiis hic velit sunt nulla maiores reiciendis fugiat?
                      Nisi, quia quasi eligendi labore explicabo natus numquam molestiae illum doloremque perspiciatis eius fugiat incidunt deserunt aperiam. Molestias, in ducimus vitae velit ex voluptas unde totam vero sapiente sed dolorem.
                      Veritatis asperiores atque inventore dolor laudantium quibusdam unde alias totam, expedita voluptate eius esse rem porro eaque numquam. Quidem officia eaque ea dicta! Maxime dolorum animi, consectetur neque quo ad!
                      Inventore odio, laboriosam placeat hic et repellendus! Omnis saepe, repellat perspiciatis optio suscipit voluptates reiciendis minus amet adipisci commodi rem nesciunt fuga sint incidunt pariatur maiores corporis unde temporibus molestias.
                  </p>
                  </div>
                  <div class="carousel-item">
                    <p class="">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex soluta tempore deserunt provident blanditiis? Id distinctio, accusamus nesciunt quaerat nulla eos tempore placeat aspernatur ipsam. Distinctio hic a quis doloremque.
                      Ipsa ad aut quidem expedita. Quae illo ipsa eveniet temporibus repellat aut debitis ex iste sint, harum, ea error pariatur, minus sequi officiis hic velit sunt nulla maiores reiciendis fugiat?
                      Nisi, quia quasi eligendi labore explicabo natus numquam molestiae illum doloremque perspiciatis eius fugiat incidunt deserunt aperiam. Molestias, in ducimus vitae velit ex voluptas unde totam vero sapiente sed dolorem.
                      Veritatis asperiores atque inventore dolor laudantium quibusdam unde alias totam, expedita voluptate eius esse rem porro eaque numquam. Quidem officia eaque ea dicta! Maxime dolorum animi, consectetur neque quo ad!
                      Inventore odio, laboriosam placeat hic et repellendus! Omnis saepe, repellat perspiciatis optio suscipit voluptates reiciendis minus amet adipisci commodi rem nesciunt fuga sint incidunt pariatur maiores corporis unde temporibus molestias.
                  </p>
                  </div>
                  <div class="carousel-item">
                    <p class="">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex soluta tempore deserunt provident blanditiis? Id distinctio, accusamus nesciunt quaerat nulla eos tempore placeat aspernatur ipsam. Distinctio hic a quis doloremque.
                      Ipsa ad aut quidem expedita. Quae illo ipsa eveniet temporibus repellat aut debitis ex iste sint, harum, ea error pariatur, minus sequi officiis hic velit sunt nulla maiores reiciendis fugiat?
                      Nisi, quia quasi eligendi labore explicabo natus numquam molestiae illum doloremque perspiciatis eius fugiat incidunt deserunt aperiam. Molestias, in ducimus vitae velit ex voluptas unde totam vero sapiente sed dolorem.
                      Veritatis asperiores atque inventore dolor laudantium quibusdam unde alias totam, expedita voluptate eius esse rem porro eaque numquam. Quidem officia eaque ea dicta! Maxime dolorum animi, consectetur neque quo ad!
                      Inventore odio, laboriosam placeat hic et repellendus! Omnis saepe, repellat perspiciatis optio suscipit voluptates reiciendis minus amet adipisci commodi rem nesciunt fuga sint incidunt pariatur maiores corporis unde temporibus molestias.
                  </p>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
        </div>
        <div class="informacion" id="hobbies">
            <h1 class="">Mis hobbies</h1>
            <hr>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dolor consectetur similique neque impedit excepturi quisquam eveniet fugit laboriosam assumenda maxime asperiores est iusto earum ipsam libero, sunt nam amet?
                Dolor cum sed, soluta porro veritatis nam assumenda velit corrupti reprehenderit, itaque ab. Quisquam, quidem unde ipsam reiciendis atque earum commodi, natus saepe libero sapiente vero quam quis exercitationem vitae.
                Minima dolorum tempora id doloribus praesentium quos, quaerat, ipsum, ad enim similique ab quae veniam expedita eos? Distinctio exercitationem quod voluptatem mollitia consectetur, natus architecto dicta delectus temporibus reiciendis atque?
                Unde totam, reiciendis illo facilis corrupti esse delectus ullam itaque voluptate adipisci aliquid quia hic facere voluptates aut ipsa, perspiciatis illum ut nulla. Eligendi inventore quis, quos numquam nam soluta.
                Voluptatum fugit voluptatibus, impedit culpa laudantium reiciendis ipsam soluta, consequatur itaque enim reprehenderit autem quidem aperiam veritatis! Aliquam nemo debitis enim facere fugit sit expedita. Aut fugit dolor vel rerum.
            </p>
        </div>
        <div class="informacion" id="contacto">
            <h1 class="">Datos de contacto</h1>
            <hr>
            
            
        </div>
      </div>
       
    </div>
        

    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="main.js"></script>
</body>
</html>