<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/teststyles.css">
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-scroll" data-bs-offset="0" tabindex="0">
    
  <nav id="navbar-scroll" class="sidebar d-flex flex-column p-3 text-white bg-dark">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#section1" class="nav-link text-white active" aria-current="page">
          Home
        </a>
      </li>
      <li>
        <a href="#section2" class="nav-link text-white">
          Dashboard
        </a>
      </li>
      <li>
        <a href="#section3" class="nav-link text-white">
          Orders
        </a>
      </li>
      <li>
        <a href="#section4" class="nav-link text-white">
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Customers
        </a>
      </li>
    </ul>
  </nav>
    
  <div class="container">
    <section id="section1">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis a nemo ea at magnam optio eaque? Ab in, dolor adipisci quae nihil nisi laudantium debitis magnam culpa dignissimos nulla! Reprehenderit.
      Obcaecati iste expedita rem eaque aliquam, et repudiandae soluta nesciunt dolores quasi unde doloremque molestias, porro nam delectus error mollitia, doloribus est dignissimos consequatur pariatur in minima! Dicta, aspernatur nam.
      Eaque corrupti quam doloribus necessitatibus! Nobis harum inventore nisi eum obcaecati molestiae exercitationem fugit eveniet minima eos aliquid quibusdam quia, maxime earum tempora provident accusamus, non temporibus, fugiat eaque illum?
      Culpa harum dolore reiciendis asperiores voluptatem, officiis illum quisquam sed, excepturi mollitia soluta consectetur, numquam consequuntur aliquam adipisci? Nihil eos veritatis beatae error animi, corporis excepturi deleniti ex sequi praesentium.
      In, repellat natus minus obcaecati quisquam totam quae quos similique alias culpa ipsa doloribus ut veniam id architecto voluptatibus ipsum iusto ratione ullam illo sunt voluptates numquam molestiae! Illo, necessitatibus?
      Accusamus ratione inventore quisquam consequuntur error impedit reiciendis molestias explicabo expedita perferendis quae beatae, aut fugit blanditiis at dolor amet quidem facilis assumenda! Sint ex saepe ipsam asperiores vel optio.
      Vitae dignissimos eligendi rerum, voluptatum inventore at debitis pariatur asperiores commodi perferendis, iste distinctio blanditiis voluptatem magnam ab. Modi corrupti odio tenetur nemo. Consectetur quidem temporibus ullam libero quas dolorum!
      Hic nemo laudantium facilis. Similique commodi ipsa totam ex corporis tempora eveniet tempore odit, vero placeat. Ex animi quia in modi pariatur esse quibusdam cum quasi recusandae aperiam. Nisi, sit.
      Deserunt, quisquam rerum. Exercitationem facilis hic distinctio commodi aspernatur nam repellat, saepe magnam sed possimus id non minus placeat sapiente ipsum quasi ut, a, suscipit repudiandae tempore. Dolor, adipisci nemo!
      Ut corporis repudiandae illo aliquid, provident odit facilis asperiores sint sit deserunt similique. Praesentium adipisci vitae impedit laudantium? Laborum harum voluptates ex non dolores molestias quia cupiditate? Quaerat, excepturi ad!
  </section>
  <section id="section2">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis a nemo ea at magnam optio eaque? Ab in, dolor adipisci quae nihil nisi laudantium debitis magnam culpa dignissimos nulla! Reprehenderit.
      Obcaecati iste expedita rem eaque aliquam, et repudiandae soluta nesciunt dolores quasi unde doloremque molestias, porro nam delectus error mollitia, doloribus est dignissimos consequatur pariatur in minima! Dicta, aspernatur nam.
      Eaque corrupti quam doloribus necessitatibus! Nobis harum inventore nisi eum obcaecati molestiae exercitationem fugit eveniet minima eos aliquid quibusdam quia, maxime earum tempora provident accusamus, non temporibus, fugiat eaque illum?
      Culpa harum dolore reiciendis asperiores voluptatem, officiis illum quisquam sed, excepturi mollitia soluta consectetur, numquam consequuntur aliquam adipisci? Nihil eos veritatis beatae error animi, corporis excepturi deleniti ex sequi praesentium.
      In, repellat natus minus obcaecati quisquam totam quae quos similique alias culpa ipsa doloribus ut veniam id architecto voluptatibus ipsum iusto ratione ullam illo sunt voluptates numquam molestiae! Illo, necessitatibus?
      Accusamus ratione inventore quisquam consequuntur error impedit reiciendis molestias explicabo expedita perferendis quae beatae, aut fugit blanditiis at dolor amet quidem facilis assumenda! Sint ex saepe ipsam asperiores vel optio.
      Vitae dignissimos eligendi rerum, voluptatum inventore at debitis pariatur asperiores commodi perferendis, iste distinctio blanditiis voluptatem magnam ab. Modi corrupti odio tenetur nemo. Consectetur quidem temporibus ullam libero quas dolorum!
      Hic nemo laudantium facilis. Similique commodi ipsa totam ex corporis tempora eveniet tempore odit, vero placeat. Ex animi quia in modi pariatur esse quibusdam cum quasi recusandae aperiam. Nisi, sit.
      Deserunt, quisquam rerum. Exercitationem facilis hic distinctio commodi aspernatur nam repellat, saepe magnam sed possimus id non minus placeat sapiente ipsum quasi ut, a, suscipit repudiandae tempore. Dolor, adipisci nemo!
      Ut corporis repudiandae illo aliquid, provident odit facilis asperiores sint sit deserunt similique. Praesentium adipisci vitae impedit laudantium? Laborum harum voluptates ex non dolores molestias quia cupiditate? Quaerat, excepturi ad!
  </section>
  <section id="section3">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis a nemo ea at magnam optio eaque? Ab in, dolor adipisci quae nihil nisi laudantium debitis magnam culpa dignissimos nulla! Reprehenderit.
      Obcaecati iste expedita rem eaque aliquam, et repudiandae soluta nesciunt dolores quasi unde doloremque molestias, porro nam delectus error mollitia, doloribus est dignissimos consequatur pariatur in minima! Dicta, aspernatur nam.
      Eaque corrupti quam doloribus necessitatibus! Nobis harum inventore nisi eum obcaecati molestiae exercitationem fugit eveniet minima eos aliquid quibusdam quia, maxime earum tempora provident accusamus, non temporibus, fugiat eaque illum?
      Culpa harum dolore reiciendis asperiores voluptatem, officiis illum quisquam sed, excepturi mollitia soluta consectetur, numquam consequuntur aliquam adipisci? Nihil eos veritatis beatae error animi, corporis excepturi deleniti ex sequi praesentium.
      In, repellat natus minus obcaecati quisquam totam quae quos similique alias culpa ipsa doloribus ut veniam id architecto voluptatibus ipsum iusto ratione ullam illo sunt voluptates numquam molestiae! Illo, necessitatibus?
      Accusamus ratione inventore quisquam consequuntur error impedit reiciendis molestias explicabo expedita perferendis quae beatae, aut fugit blanditiis at dolor amet quidem facilis assumenda! Sint ex saepe ipsam asperiores vel optio.
      Vitae dignissimos eligendi rerum, voluptatum inventore at debitis pariatur asperiores commodi perferendis, iste distinctio blanditiis voluptatem magnam ab. Modi corrupti odio tenetur nemo. Consectetur quidem temporibus ullam libero quas dolorum!
      Hic nemo laudantium facilis. Similique commodi ipsa totam ex corporis tempora eveniet tempore odit, vero placeat. Ex animi quia in modi pariatur esse quibusdam cum quasi recusandae aperiam. Nisi, sit.
      Deserunt, quisquam rerum. Exercitationem facilis hic distinctio commodi aspernatur nam repellat, saepe magnam sed possimus id non minus placeat sapiente ipsum quasi ut, a, suscipit repudiandae tempore. Dolor, adipisci nemo!
      Ut corporis repudiandae illo aliquid, provident odit facilis asperiores sint sit deserunt similique. Praesentium adipisci vitae impedit laudantium? Laborum harum voluptates ex non dolores molestias quia cupiditate? Quaerat, excepturi ad!
  </section>
  <section id="section4">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis a nemo ea at magnam optio eaque? Ab in, dolor adipisci quae nihil nisi laudantium debitis magnam culpa dignissimos nulla! Reprehenderit.
      Obcaecati iste expedita rem eaque aliquam, et repudiandae soluta nesciunt dolores quasi unde doloremque molestias, porro nam delectus error mollitia, doloribus est dignissimos consequatur pariatur in minima! Dicta, aspernatur nam.
      Eaque corrupti quam doloribus necessitatibus! Nobis harum inventore nisi eum obcaecati molestiae exercitationem fugit eveniet minima eos aliquid quibusdam quia, maxime earum tempora provident accusamus, non temporibus, fugiat eaque illum?
      Culpa harum dolore reiciendis asperiores voluptatem, officiis illum quisquam sed, excepturi mollitia soluta consectetur, numquam consequuntur aliquam adipisci? Nihil eos veritatis beatae error animi, corporis excepturi deleniti ex sequi praesentium.
      In, repellat natus minus obcaecati quisquam totam quae quos similique alias culpa ipsa doloribus ut veniam id architecto voluptatibus ipsum iusto ratione ullam illo sunt voluptates numquam molestiae! Illo, necessitatibus?
      Accusamus ratione inventore quisquam consequuntur error impedit reiciendis molestias explicabo expedita perferendis quae beatae, aut fugit blanditiis at dolor amet quidem facilis assumenda! Sint ex saepe ipsam asperiores vel optio.
      Vitae dignissimos eligendi rerum, voluptatum inventore at debitis pariatur asperiores commodi perferendis, iste distinctio blanditiis voluptatem magnam ab. Modi corrupti odio tenetur nemo. Consectetur quidem temporibus ullam libero quas dolorum!
      Hic nemo laudantium facilis. Similique commodi ipsa totam ex corporis tempora eveniet tempore odit, vero placeat. Ex animi quia in modi pariatur esse quibusdam cum quasi recusandae aperiam. Nisi, sit.
      Deserunt, quisquam rerum. Exercitationem facilis hic distinctio commodi aspernatur nam repellat, saepe magnam sed possimus id non minus placeat sapiente ipsum quasi ut, a, suscipit repudiandae tempore. Dolor, adipisci nemo!
      Ut corporis repudiandae illo aliquid, provident odit facilis asperiores sint sit deserunt similique. Praesentium adipisci vitae impedit laudantium? Laborum harum voluptates ex non dolores molestias quia cupiditate? Quaerat, excepturi ad!
  </section>

  </div>
  
  
  
  
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-column sidebar text-white" id="navbar-example">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4 ">Jose Enrique Guardado Peralta</span>
          </a>
          <hr>
          <ul class="navbar-nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#section1">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section2">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section3">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#section4" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>

      </nav> -->
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
 </body>

</html>